* {
	margin: 0;
    padding: 0;
}

/* about page */
.about,
.fc-1,
.fc-result,
.df-1,
.df-result,
.ba-1,
.ba-result {
	display: flex;
	min-width: 375px;
	padding: 40px 0;
	gap: 30px;
	flex-direction: column;
	align-items: center;
	}

.about {
	background: linear-gradient(rgb(255 255 255 / 70%), rgb(255 255 255 / 70%)), url('../images/about-back.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.navigate {
	display: flex;
	padding: 5px 20px;
	align-items: center;
	justify-content: space-between;
	align-self: stretch;
	flex-direction: row;
	text-align: center;
	font-family: Texturina, sans-serif;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;

	@media (width >= 768px) {
		padding: 5px 40px;
	}

	@media (width >= 1024px) {
		padding: 5px 60px;
	}
}

#about-nav-about {
	color: #D4567D;
	text-decoration: none;
}

#about-nav-df,
#about-nav-fc,
#about-nav-ba {
	color: #302492;
	text-decoration: none;
}

.title-part {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	padding: 30px;
	gap: 20px;
	background: rgb(255 255 255 / 60%);
}

h1 {
	text-align: center;
	align-self: stretch;
	font-family: Merienda, sans-serif;
	font-size: 32px;
	font-weight: 700;
}

.title {
	background: radial-gradient(50% 50% at 50% 50%, #D4567D 20%, #302492 50%);
	background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	font-family: Texturina, sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.slogan {
	text-align: center;
	align-self: stretch;
	background: radial-gradient(50% 50% at 50% 50%, #D4567D 20%, #302492 50%);
	background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intro-part {
	display: flex;
	padding: 30px;
	gap: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	background: rgb(255 255 255 / 60%);
}

h2 {
	text-align: center;
	align-self: stretch;
	font-family: Merienda, sans-serif;
	font-size: 21px;
	font-weight: 700;
}

.about-title {
	background: linear-gradient(to bottom right, #302492 0%, #D4567D 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #302492 0%, #D4567D 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #302492 0%,#D4567D 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #302492 0%, #D4567D 50%) top right / 50% 50% no-repeat;
	background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;	
}

p {
	font-family: Texturina, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}

.about-content {
	color: #302492;
}

.back-to {
	display: flex;
	padding: 5px 10px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-family: Texturina, sans-serif;
	font-size: 9px;
	font-weight: 600;
	cursor: pointer;
	border: 1px solid #FFF;
}


/* Book of Answers page */
.ba-1,
.ba-result {
	background: linear-gradient(rgb(255 255 255 / 40%), rgb(255 255 255 / 40%)), url('../images/book-back.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#ba-nav-ba {
	color: #805C4C;
	text-decoration: none;
}

#ba-nav-df,
#ba-nav-fc,
#ba-nav-about {
	color: #244437;
	text-decoration: none;
}

/* Book of Answers-1 page */
.ba-title {
	background: linear-gradient(to bottom right, #244437 0%, #805C4C 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #244437 0%, #805C4C 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #244437 0%, #805C4C 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #244437 0%, #805C4C 50%) top right / 50% 50% no-repeat;
	background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.ba-content {
	color: #805C4C;
}

.ba-part,
.fc-part {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	gap: 20px;
	align-self: stretch;
}

#ba-instruction {
	color: #244437;
}

.book-1{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 30%;
	height: auto;

	@media (width >= 768px) {
		max-width: 20%;
	}

	@media (width >= 1024px) {
		max-width: 15%;
	}
}

.main-button {
	display: flex;
	padding: 5px 10px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-family: Texturina, sans-serif;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	border: 1px solid #FFF;
}

#ba-to-see-result,
#ba-result-to-ba {
	color: #FFF;
	background: #244437; 
	text-decoration: none;
}

#ba-back-to-home-page {
	color: #FFF;
	background: #805C4C;
	text-decoration: none;
}


/* Book of Answers-answer page */
#ba-result-with-pic,
#fc-result-with-pic {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 40px;
	gap: 40px;
}

#ba-result-with-pic {
	position: relative;
	margin: auto;
	align-items: center;
	width: 80%;
}

.ba-result-pic {
	width: 100%;
	max-width: 100%;
	height: auto;
	
	@media (width >= 768px) {
        max-width: 80%;
    }

    @media (width >= 1024px) {
        max-width: 60%;
    }
}

#ba-result-content {
	position: absolute;
	text-align: center;
	top: 40%;
    right: 20%;
	font-size: 12px;
    transform: translate(-18%, -25%);
    max-width: 25%;
	word-wrap: break-word;
	overflow: hidden;
	color: #244437;

	@media (width >= 768px) {
		top: 38%;
    	right: 25%;
		font-size: 14px;
    	transform: translate(-25% ,-25%);
    	max-width: 20%;
	}

	@media (width >= 1024px) {
		font-size: 16px;
		top: 34%;
    	right: 30%;
    	transform: translate(-20%, -25%);
    	max-width: 15%;
	}
}

/* Fortune Cookie page */
.fc-1,
.fc-result {
	background: linear-gradient(rgb(255 255 255 / 40%), rgb(255 255 255 / 40%)), url('../images/cookie-back.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#fc-nav-fc {
	color: #D76735;
	text-decoration: none;
}

#fc-nav-df,
#fc-nav-ba,
#fc-nav-about {
	color: #D39C29;
	text-decoration: none;
}

/* Fortune Cookie-1 page */
.fc-title {
	background: linear-gradient(to bottom right, #D39C29 0%, #D76735 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #D39C29 0%, #D76735 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #D39C29 0%, #D76735 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #D39C29 0%, #D76735 50%) top right / 50% 50% no-repeat;
	background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fc-content {
	color: #D76735;
}

#fc-instruction {
	color: #D39C29;
}

.cookie-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
	height: auto;

	@media (width >= 768px) {
		max-width: 30%;
	}

	@media (width >= 1024px) {
		max-width: 20%;
	}
}

#fc-to-see-result,
#fc-result-to-cookie {
	color: #FFF;
	background: #D76735; 
	text-decoration: none;
}

#fc-back-to-home-page {
	color: #FFF;
	background: #D39C29;
	text-decoration: none;
}

/* Fortune Cookie-answer page */
#fc-result-with-pic {
	position: relative;
	margin: auto;
	width: 80%;
	align-items: center;
}

.cookie-result-pic {
	width: 100%;
	height: auto;

	@media (width >= 768px) {
		max-width: 80%;
	}

	@media (width >= 1024px) {
		max-width: 60%;
	}
}

#fc-result {
	position: absolute;
	top: 41%;
    right: 15%;
	font-size: 12px;
    max-width: 45%; 
	width: 100%;
	overflow: hidden;
	color: #D76735;
	transform: rotate(5deg);

	@media (width >= 768px) {
		font-size: 14px;
		top: 41%;
    	right: 18%;
		max-width: 40%; 
		transform: rotate(5deg);
	}

	@media (width >= 1024px) {
		font-size: 16px;
		top: 41%;
    	right: 24%;
		max-width: 33%; 
		transform: rotate(5deg);
	}
}

/* Daily Fortune page */
.df-1,
.df-result {
	background: linear-gradient(rgb(255 255 255 / 40%), rgb(255 255 255 / 40%)), url('../images/df-back.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#df-nav-df {
	color: #1B7676;
	text-decoration: none;
}

#df-nav-ba,
#df-nav-fc,
#df-nav-about {
	color: #0073E5;
	text-decoration: none;
}

/* Daily Fortune-1 page */
.df-title {
	background: linear-gradient(to bottom right, #1B7676 0%, #0073E5 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #1B7676 0%, #0073E5 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #1B7676 0%, #0073E5 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #1B7676 0%, #0073E5 50%) top right / 50% 50% no-repeat;
	background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.df-content {
	color: #1B7676;
}

#df-instruction {
	color: #0073E5;
	line-height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	align-self: stretch;
}

.quiz-part {
	display: grid;
	grid-template-columns: 1fr;
	padding: 30px;
	gap: 30px;
	align-items: center;
	background: rgb(255 255 255 / 60%);

	@media (width >= 1024px) {
		grid-template-columns: repeat(3, 1fr);
		align-items: flex-start;
	}
}

.explaination-part {
	display: grid;
	grid-template-columns: 1fr;
	padding: 30px;
	gap: 30px;
	align-items: center;
	background: rgb(255 255 255 / 60%);

	@media (width >= 768px) {
		grid-template-columns: repeat(2, 2fr);
		align-items: flex-start;
	}

	@media (width >= 1024px) {
		grid-template-columns: repeat(4, 1fr);
		align-items: flex-start;
	}
}

#quiz-1,
#quiz-2,
#quiz-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	@media (width >= 1024px) {
		align-items: flex-start;
	}
}

#quiz-1-tips {
	font-size: 9px;
	line-height:10px;
}

.date,
#quiz-1-tips {
	color: #D4567D;
}

.quiz-title {
	color: #0073E5;
	font-family: Texturina, sans-serif;
	font-size: 16px;
	font-weight: 700;
}

input {
	color: #1B7676;
	font-family: Texturina, sans-serif;
	font-size: 12px;
	font-weight: 400;
}

.gender-options {
	color: #1B7676;
	font-family: Texturina, sans-serif;
	font-size: 12px;
	font-weight: 500;
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(2, 1fr);
	justify-content:flex-start;
	align-items: flex-start;
	gap: 20px;
}

.current-mood-options {
	color: #1B7676;
	font-family: Texturina, sans-serif;
	font-size: 12px;
	font-weight: 500;
	gap: 10px;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
	align-items: flex-start;
}

.gender-options input,
.current-mood-options input {
    margin-right: 5px;
	cursor: pointer;
  }

#df-to-see-result,
#df-result-to-cookie {
	color: #FFF;
	background: #0073E5; 
	text-decoration: none;
}

#df-back-to-home-page {
	color: #FFF;
	background: #1B7676;
	text-decoration: none;
}

/* Daily Fortune-result page */
.score {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-self: stretch;
}

.score-result {
	color: #D4567D;
}

h4 {
	color: #D4567D;
	text-align: center;
	font-family: Merienda;
	font-size: 12px;
	font-weight: 600;
}

.df-result-content,
.explaination-content {
	color: #1B7676;
}

.explaination-title {
	color: #0073E5;
}

.explain {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	align-self: stretch;
}

/* overlay-page */
#overlay {
	display: none;
	max-width: 30%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px 10px;
	gap: 25px;
	border-radius: 6px;
	background: linear-gradient(rgb(255 255 255 / 90%), rgb(255 255 255 / 90%)), url('../images/overlay-back.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
  	top: 100%; 
  	left: 100%; 
  	transform: translate(-125%, -125%);

	@media (width >= 768px) {
		max-width: 15%;
		transform: translate(-200%, -125%);
	}

	@media (width >= 1024px) {
		max-width: 15%;
		transform: translate(-300%, -135%);
	}
}

#overlay.visible {
	display: block;
}

.overlay-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
}

.overlay-content {
	align-self: stretch;
	text-align: center;
	color: #1B7676;
	font-family: Texturina;
	font-size: 8px;
	font-weight: 600;
	line-height: normal;
}
